<html>

<head>
    <title>Home Page</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<body>
    <h1 style="text-align: center">You have successfully registered</h1>
    <h3>Your name is {{name}}</h3>
    <h3>Your surname is {{surname}}</h3>
    <h3>Your email is {{email}}</h3>
</body>

</html>